@model Autenticacao_EF_Cookie.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" />


<div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Login via site</h3>
			 	</div>
                 
                    <div class="panel-body">
                        <form asp-action="Login">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" asp-for="Email"  placeholder="yourmail@example.com" name="email" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" asp-for="Senha"  placeholder="Password" name="password" type="password" value="">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </fieldset>
                        </form>
                        <hr/>
                        
                    </div>
			    
            </div>
		</div>
	</div>
</div>