@{
    ViewData["Title"] = "Home Page";
}

<div class="col">
    <div class="row-md-2">
        <h2>Categorias</h2>
        <ul>
            <li><a asp-area="" asp-controller="Categorias" asp-action="Cadastrar">Cadastrar</a></li>
            <li><a asp-area="" asp-controller="Categorias" asp-action="Consultar">Consultar</a></li>
        </ul>
    </div>
    <div class="row-md-2">
        <h2>Produtos</h2>
        <ul>
            <li><a asp-area="" asp-controller="Produtos" asp-action="Cadastrar">Cadastrar</a></li>
            <li><a asp-area="" asp-controller="Produtos" asp-action="Consultar">Consultar</a></li>
        </ul>
    </div>
</div>
